*{
	margin: 0;
	padding: 0;
}
#header{
	border: 1px solid red;
	width: 100%;
	height: 170px;
	background-color: orange;

	font-family: 'Oswald', sans-serif;
	position: relative;
	background-image: url("../img/icons/star.png");
	background-position: 320px 80px;
	background-repeat:no-repeat;
}

#header > #matn{
	//border: 1px solid red;

	width: 150px;
	height: 40px;
	position: absolute;
	left: 360px;
	top: 75px;

	font-family: 'Oswald', sans-serif;
	font-size: 28px;
	font-style: bold;
		
}

#phone:hover{
	font-size: 40px;
	color: #fff;	
	text-shadow: 5 0 10px 10px;
}
#phone{
	//border: 1px solid red;
	width: 250px;
	height: 90px;

	transition: 1s;
	font-style: bold;
	
	font-family: 'Oswald', sans-serif;
	font-weight: 20px; 
	font-size: 30px;
	color: #ccc;

	position: absolute;
	right: 15px;
	top: 15px;

	cursor: pointer;

}

#header > img{
	height: 95%;
	width: auto;
	margin:auto;
	margin-left: 10%;
	

}

#menu{
	//border: 1px solid red;
	width: 300px;
	height: 60px;

	position: absolute;
	top: 20px;
	right: 300px;
	
}

.items:hover  {
	font-size: 13px;
	line-height: 0px;	
	
}

.items {
	
	//border: 1px solid #ccc;
	transition: 0.5s;
	width: 32.5%;
	height: 100%;
	float: left;
	text-align: center;
	font-family: 'Abril Fatface', cursive;
	line-height: 130px;
	cursor: pointer;
	font-size: 18px;

}

#menu > .it1:hover{
	background-size: 50px 50px;
	background-position: 45% 10px;

}

#menu > .it1{
	background: url("../img/icons/9.png") no-repeat 45% 30%;
	background-size: 40px 40px;
}

#menu > .it2:hover{
	background-size: 50px 50px;
	background-position: 45% 10px;

}

#menu > .it2{
	background: url("../img/icons/8.png") no-repeat 45% 30%;
	background-size: 40px 40px;
}

#menu > .it3:hover{
	background-size: 50px 50px;
	background-position: 45% 10px;

}

#menu > .it3{
	background: url("../img/icons/7.png") no-repeat 45% 30%;
	background-size: 40px 40px;
}

#titr{
	position: absolute;
	top: 10%;
	left: 24%;
}
