#content{
	width: 100%;
	height: 800px;
	background: rgba(190, 50, 230,1.0);
}

#boxes{

	//border: 1px solid #ccc;
	width: 90%;
	height: 300px;
	margin: 5px auto;

}

.box{
	//border: 1px solid #000;
	width: 23%;
	height: auto;
	float: left;
	margin: 0 10px;
}

.box > img{
	width: 100%;
	height:auto;
	border-radius: 20px;
}



.box > p{
	text-align: center;
	background: #ccc;
	border-radius: 20px;
	line-height: 30px;

}
